<div class="container">
  <h3>Adding New Log</h3>
  <form #logForm="ngForm" (ngSubmit)="onSubmit(logForm)">
    <div class="form-group">
      <label for="logName">Log Text</label>
      <input type="text" class="form-control" [(ngModel)]="log.logName" #logNameElement="ngModel"
      name="logName"
      minlength="2"
      required
      />
      <div class="alert alert-danger" *ngIf="logNameElement.invalid && (logNameElement.touched || logNameElement.dirty)" >
        <div *ngIf="logNameElement.errors.minlength">Log text length can't be less than 2 char !!!</div>
        <div *ngIf="logNameElement.errors.required">Log text is required</div>
      </div>
      <input type="submit" [disabled]="!add" name="Add" class="btn btn-success">
      <button type="button" [disabled]="!cancel" (click)="clearEditLog()" class="btn btn-success">Cancel</button>
    </div>
  </form>
  <br>
  <app-logs (editLogEventEmitter)="editLog($event)"></app-logs>
</div>