<div class="container">
  <h3>Adding New Log</h3>
  <form #logForm="ngForm" (ngSubmit)="onSubmit(logForm)">
    <div class="form-group">
      <label for="logName">Log Text</label>
      <input type="text" class="form-control" [(ngModel)]="log.logName" #logNameElement="ngModel"
      name="logName"
      minlength="2"
      required
      />
      <div class="alert alert-danger" *ngIf="logNameElement.invalid && (logNameElement.touched || logNameElement.dirty)" >

        <div *ngIf="logNameElement.errors.minlength">Log text length can't be less than 2 char !!!</div>
        <div *ngIf="logNameElement.errors.required">Log text is required</div>
      </div>
      <input type="submit" class="btn btn-success">
    </div>
  </form>
  <br>
  <div class="card" *ngFor="let log of logs">
    <div class="card-body">
      {{log.logName}}<p class="bg-danger">{{log.logDate | date:formate}}</p>
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>